@media (max-width: @screen-xs-max) {

	header {
		z-index: 99;
		position: fixed;

		.navbar-header {
			background-color: #f1f1f1;
			height: 65px;
			width: 100%;

			#boton-menu, .telef {
				position: absolute;
				top: 50%;
				.translate(0,-50%);
				padding: 15px;
				height: 60px;
				line-height: 40px;
				z-index: 1;
				display: block;

				&:before {
					font-family: 'icomoon';
					.render();
					color: @color;
					font-size: 24px;
				}
			}

			#boton-menu {
				left: 0;
				line-height: 30px;

				&:before {
					content: "\e5d2";
				}
			}

			.telef {
				right: 0;
				line-height: 30px;

				&:before {
					content: '\e0cd';
				}
			}

			i {
				color: @color;
				font-size: 24px;
			}

			.logo {
				height: 55px;
				width: 85px;
				margin-top: 0;
				display: inline-block;
				float: none!important;
				position: absolute;
				left: 50%;
				top: 50%;
				line-height: 70px;
				text-align: center;
				.translate(-50%,-50%);
				.transition(all .3s);

				#logo {
					height: 55px;
					width: 85px;
					float: none;
					margin: 0;
					display: inline-block;
					background-image: url('../images/logo.png');
				}
			}
		}
	}

	.menu-mobile {
		position: absolute;
		z-index: 10;
		top: 0;
		left: 0;
		right: 0;
		background: fade(#333,100%);
		height: 100vh;
		opacity: 0;
		pointer-events: none;
		.transition(all .3s);

		&:before {
			content: '';
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 15vh;
			pointer-events: none;
			z-index: 1;
			.background-image(linear-gradient(to top, fade(#333,90%) 0%,fade(#333,0%) 100%));
		}

		nav {
			position: absolute;
			left: 30px;
			right: 0;
			top: 80px;
			height: ~"calc(100vh - 80px)";
			overflow: scroll;
			padding-bottom: 15vh;
			.translate(0,-10px);
			.transition(all .3s);

			li {
				a {
					display: block;
					font-size: 16px;
					padding: 5px 0;
					color: #fff;
					font-weight: bold;
				}

				.caret {
					display: none;
				}

				.submenu {
					padding-left: 15px;

					a {
						border-bottom: 0;
						font-weight: normal;
						color: fade(#fff,90%);
					}
				}
			}
		}
	}

	.on {
		overflow: hidden;
		width: 100%;
		height: 100%;
		position: relative;

		body {
			overflow: hidden;
			width: 100%;
			height: 100%!important;
			position: relative;
		}

		header{

			#boton-menu:before {
				content: "\e5cd";
			}
		}

		.menu-mobile {
			opacity: 1;
			pointer-events: all;

			nav {
				.translate(0,0);
			}
		}
	}
}