@font-face {
  font-family: "iconfont";
  src: url('fonts/iconfont.eot');
  src: url('fonts/iconfont.eot?#iefix') format('eot'), url('fonts/iconfont.woff') format('woff'), url('fonts/iconfont.ttf') format('truetype'), url('fonts/iconfont.svg#iconfont') format('svg');
}
.icon-base-pseudo,
.icon-arrowri:before,
.icon-check:before,
.icon-comentario:before,
.icon-facebook:before,
.icon-flechaderecha:before,
.icon-flechaizquierda:before,
.icon-footerf:before,
.icon-footerg:before,
.icon-footert:before,
.icon-footery:before,
.icon-googleplus:before,
.icon-interface:before,
.icon-letter:before,
.icon-linkein:before,
.icon-location:before,
.icon-people:before,
.icon-phone:before,
.icon-play:before,
.icon-share:before,
.icon-sign:before,
.icon-twitter:before,
.icon-user:before,
.icon-youtube:before {
  font-family: "iconfont";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}
.icon-arrowri:before {
  content: "\E001";
}
.icon-check:before {
  content: "\E002";
}
.icon-comentario:before {
  content: "\E003";
}
.icon-facebook:before {
  content: "\E004";
}
.icon-flechaderecha:before {
  content: "\E005";
}
.icon-flechaizquierda:before {
  content: "\E006";
}
.icon-footerf:before {
  content: "\E007";
}
.icon-footerg:before {
  content: "\E008";
}
.icon-footert:before {
  content: "\E009";
}
.icon-footery:before {
  content: "\E00A";
}
.icon-googleplus:before {
  content: "\E00B";
}
.icon-interface:before {
  content: "\E00C";
}
.icon-letter:before {
  content: "\E00D";
}
.icon-linkein:before {
  content: "\E00E";
}
.icon-location:before {
  content: "\E00F";
}
.icon-people:before {
  content: "\E010";
}
.icon-phone:before {
  content: "\E011";
}
.icon-play:before {
  content: "\E012";
}
.icon-share:before {
  content: "\E013";
}
.icon-sign:before {
  content: "\E014";
}
.icon-twitter:before {
  content: "\E015";
}
.icon-user:before {
  content: "\E016";
}
.icon-youtube:before {
  content: "\E017";
}
.render {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*
variables
*/
.absolute-full {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/* 
fuente karla
*/
@font-face {
  font-family: 'karla';
  src: url('fonts/karla/karla-Bold.ttf');
}
/*
////////////////////////////////////////////////////
*/
a,
a:visited,
a:link,
a:hover {
  text-decoration: none;
  color: white;
  transition: all 0.3s;
}
ul {
  list-style: none;
}
body {
  padding-top: 92px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #2F373C;
  background: #2E353A;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: white;
}
header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 200;
  transition: all 0.3s;
}
header.affix,
header.interior {
  background: #292926;
}
header ul {
  margin-bottom: 0;
}
header .submenu {
  position: absolute;
  opacity: 0;
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
  width: 213px;
  background: #292926;
  text-align: left;
  transition: all 0.3s;
  pointer-events: none;
}
header .submenu ul {
  padding-left: 0;
}
header .submenu li {
  margin: 10px;
}
header .submenu li a {
  padding: 20px 10px;
  border-radius: 3px;
}
header .submenu li a:hover {
  background: rgba(255, 255, 255, 0.28);
}
header .submenu:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #292926;
  border-width: 16px;
  margin-left: -59px;
}
header .login {
  position: absolute;
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
  color: white;
  opacity: 0;
  width: 213px;
  background: #292926;
  text-align: left;
  transition: all 0.3s;
  pointer-events: none;
  padding: 30px;
}
header .login input {
  width: 100%;
  color: #292926;
}
header .login input[type="submit"] {
  margin-top: 15px;
}
header .login label {
  margin-top: 15px;
}
header .active {
  font-weight: bold;
}
/*
 * MENU
 */
nav {
  text-align: right;
}
nav ul li {
  display: inline-block;
  margin: 0 7px;
}
nav ul li a {
  padding: 35px 20px 35px;
  display: block;
}
nav ul li.competiciones:hover > .submenu {
  opacity: 1;
  pointer-events: all;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
nav ul li.loginopen:hover > .login {
  opacity: 1;
  pointer-events: all;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
nav > ul > li:last-child {
  background: #21ca69;
}
.tituloseccion {
  text-transform: uppercase;
  font-size: 36px;
}
/*** AVISO COOKIES ***/
#cookiewarning {
  font-size: 13px;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 9999;
}
#cookiewarning div {
  text-align: center;
  margin: 0px;
  padding: 10px 0;
  width: auto;
  background: rgba(0, 0, 0, 0.7);
  font-size: 90%;
  color: #858585;
  font-size: 14px;
  color: #fff;
}
#cookiewarning div .btn {
  margin-top: 10px;
  margin-bottom: 5px;
  color: #FFF;
  background-color: #7f8c8d;
  border-color: #7f8c8d;
  margin-left: 2px;
  margin-right: 2px;
  padding: 5px 10px;
}
#cookiewarning div .btn.btn-success {
  background-color: #2ecc71;
  border-color: #2ecc71;
}
#portada {
  position: absolute;
  top: 0;
  width: 100%;
  height: 610px;
  background: black;
  overflow: hidden;
}
#portada #big-video-wrap {
  color: black;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#portada .contenido {
  text-align: center;
  position: absolute;
  left: 25%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#portada .contenido h1 {
  font-size: 44px;
  text-transform: uppercase;
}
#portada .contenido h2 {
  font-size: 22px;
}
#portada .contenido a {
  font-size: 22px;
  background: #1a8d7b;
  padding: 22px 40px 22px;
  border-radius: 35px;
  font-weight: bold;
  margin-top: 21px;
  line-height: 100px;
}
#portada .fondooscuro {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
}
#ventajas {
  margin-top: 650px;
  color: white;
  text-align: center;
  height: 419px;
}
#ventajas h3 {
  color: yellow;
}
#ventajas .imagen {
  background: rgba(41, 41, 38, 0.38);
  border-radius: 50%;
  padding: 30px;
  width: 50%;
  margin: auto;
}
#ventajas .imagen img {
  height: 100px;
  width: 100px;
}
#quienessomos {
  height: 449px;
  color: white;
  background: url(../imagenes/soldados.png);
  background-repeat: no-repeat;
  background-color: #1a8d7b;
  background-position: right;
}
#quienessomos .container {
  height: 100%;
}
#quienessomos .container .row {
  height: 100%;
}
#quienessomos .container .row > div {
  height: 100%;
}
#quienessomos .container .row > div:nth-of-type(1) {
  background: #1a8d7b;
}
#quienessomos a {
  background: #21ca69;
  padding: 8px 30px;
  border-radius: 25px;
  font-weight: bold;
  line-height: 6;
}
#quienessomos .tutorial a {
  background: none;
  border-radius: 25px;
}
#quienessomos .tutorial a img {
  border-radius: 15px;
  height: 100px;
}
#proximoseventos {
  color: white;
}
#proximoseventos .eventos > div {
  margin-top: 62px;
}
#proximoseventos .eventos > div h3 {
  text-transform: uppercase;
}
#proximoseventos .eventos > div .subtitulo {
  color: #2bc0a9;
}
#proximoseventos .eventos > div .imagen {
  height: 200px;
  background-size: cover;
  position: relative;
}
#proximoseventos .eventos > div .fondofecha {
  position: absolute;
  right: 0;
  top: -18%;
  background-image: url(../media/eventos/fondofecha.png);
  background-size: cover;
  width: 103px;
  height: 111px;
}
#proximoseventos .eventos > div .fondofecha .fecha {
  font-weight: bold;
  line-height: 1;
  position: relative;
  padding-top: 34.2%;
  font-size: 26px;
  margin-right: 25%;
  text-align: center;
  text-transform: uppercase;
}
#proximoseventos .eventos > div a {
  text-align: center;
  display: block;
  background: #21ca69;
  padding: 20px 0 20px;
  font-size: 32px;
  text-transform: uppercase;
}
#ultimoscampeonatos {
  height: 383px;
}
.juego {
  position: relative;
  margin-top: 40px;
  height: 300px;
  padding: 10px 40px;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}
.juego .contenido {
  position: relative;
  z-index: 1;
  color: #fff;
  width: 50%;
}
.juego .contenido h2 {
  margin-bottom: 20px;
}
.juego .contenido h4 {
  margin-bottom: 30px;
}
.juego:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0a0a0a;
  background: -webkit-gradient(left top, right top, color-stop(0%, #0a0a0a), color-stop(58%, rgba(10, 10, 10, 0.42)), color-stop(100%, rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, #0a0a0a 0%, rgba(10, 10, 10, 0.42) 58%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0a0a0a', endColorstr='#ffffff', GradientType=1);
}
.juego .playvideo {
  position: absolute;
  right: -35%;
  bottom: -100%;
  width: 50%;
  height: 100%;
  background: #1a8d7b;
  -webkit-transform: rotate(50deg);
  transform: rotate(50deg);
  transition: all .7s ease ;
}
.juego .playvideo .icon-play {
  position: absolute;
  -webkit-transform: rotate(70deg) translate(217%, 48%);
  transform: rotate(70deg) translate(217%, 48%);
  height: 55px;
  width: 55px;
  -webkit-filter: #fff;
  filter: #fff;
}
.juego .playvideo.active {
  -webkit-transform: rotate(0deg) translate(-70%, -100%);
  transform: rotate(0deg) translate(-70%, -100%);
  opacity: 1;
  background: black;
}
.juego .playvideo .video {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 2s;
  border: 0;
}
.juego .playvideo .icon-play {
  transition: opacity 0.3s;
}
.juego .playvideo.active .icon-play {
  opacity: 0;
}
.juego .botones {
  position: absolute;
  bottom: 0;
}
.juego .botones a {
  padding: 15px 25px;
  display: inline-block;
}
.juego .botones a:hover {
  padding-top: 20px;
}
.juego .botones a img {
  height: 40px;
  width: 40px;
}
.filtro {
  position: fixed;
  left: 0 ;
  top: 0;
  bottom: 0;
  background: #181815;
  z-index: 1;
  padding-top: 200px;
  color: white;
}
.filtro input,
.filtro select {
  color: black;
}
.filtro input,
.filtro label,
.filtro select {
  display: block;
}
.filtro label {
  margin-top: 20px;
}
.filtro input[type='text'],
.filtro input[type='number'],
.filtro input[type='date'],
.filtro select {
  width: 100%;
}
.filtro input[type='radio'] {
  display: inline-block;
}
.filtro input[type='radio'] + label {
  display: inline-block;
}
.filtro input[type='submit'] {
  margin: auto;
  margin-top: 40px;
}
@media screen and (max-width: 767px) and (max-width: 767px) {
  header {
    z-index: 99;
    position: fixed;
  }
  header .navbar-header {
    background-color: #f1f1f1;
    height: 65px;
    width: 100%;
  }
  header .navbar-header #boton-menu,
  header .navbar-header .telef {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 15px;
    height: 60px;
    line-height: 40px;
    z-index: 1;
    display: block;
  }
  header .navbar-header #boton-menu:before,
  header .navbar-header .telef:before {
    font-family: 'icomoon';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #243848;
    font-size: 24px;
  }
  header .navbar-header #boton-menu {
    left: 0;
    line-height: 30px;
  }
  header .navbar-header #boton-menu:before {
    content: "\e5d2";
  }
  header .navbar-header .telef {
    right: 0;
    line-height: 30px;
  }
  header .navbar-header .telef:before {
    content: '\e0cd';
  }
  header .navbar-header i {
    color: #243848;
    font-size: 24px;
  }
  header .navbar-header .logo {
    height: 55px;
    width: 85px;
    margin-top: 0;
    display: inline-block;
    float: none!important;
    position: absolute;
    left: 50%;
    top: 50%;
    line-height: 70px;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: all 0.3s;
  }
  header .navbar-header .logo #logo {
    height: 55px;
    width: 85px;
    float: none;
    margin: 0;
    display: inline-block;
    background-image: url('../images/logo.png');
  }
  .menu-mobile {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    background: #333333;
    height: 100vh;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
  }
  .menu-mobile:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15vh;
    pointer-events: none;
    z-index: 1;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjAlIiB5Mj0iMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9InJnYig1MSwgNTEsIDUxKSIgc3RvcC1vcGFjaXR5PSIwLjkiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9InJnYig1MSwgNTEsIDUxKSIgc3RvcC1vcGFjaXR5PSIwIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
    background-image: linear-gradient(to top, rgba(51, 51, 51, 0.9) 0%, rgba(51, 51, 51, 0) 100%);
  }
  .menu-mobile nav {
    position: absolute;
    left: 30px;
    right: 0;
    top: 80px;
    height: calc(100vh - 80px);
    overflow: scroll;
    padding-bottom: 15vh;
    -webkit-transform: translate(0, -10px);
    transform: translate(0, -10px);
    transition: all 0.3s;
  }
  .menu-mobile nav li a {
    display: block;
    font-size: 16px;
    padding: 5px 0;
    color: #fff;
    font-weight: bold;
  }
  .menu-mobile nav li .caret {
    display: none;
  }
  .menu-mobile nav li .submenu {
    padding-left: 15px;
  }
  .menu-mobile nav li .submenu a {
    border-bottom: 0;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.9);
  }
  .on {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
  }
  .on body {
    overflow: hidden;
    width: 100%;
    height: 100%!important;
    position: relative;
  }
  .on header #boton-menu:before {
    content: "\e5cd";
  }
  .on .menu-mobile {
    opacity: 1;
    pointer-events: all;
  }
  .on .menu-mobile nav {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

/*# sourceMappingURL=estilos.css.map */
