.render {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
	variables
	*/
@amarillotostado : 

/*
fuente karla
*/
@font-face {
  font-family: 'karla';
  src: url('fonts/karla/karla-Bold.ttf');
}
/*
////////////////////////////////////////////////////
*/
a,
a:visited,
a:link,
a:hover {
  text-decoration: none;
  color: white;
  transition: all 0.3s;
}
ul {
  list-style: none;
}
body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #7c7c7c;
  background: #374046;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: white;
}
header {
  position: absolute;
  width: 100%;
}
/*
 * MENU
 */
nav {
  text-align: right;
}
nav ul li {
  display: inline-block;
  margin: 0 7px;
  padding: 35px 20px 35px;
}
nav ul li:last-child {
  background: #21ca69;
}

/*# sourceMappingURL=estilos.css.map */
