/*** AVISO COOKIES ***/
#cookiewarning{
  font-size: 13px;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 9999;
	div{
		text-align: center;
		margin: 0px;
		padding: 10px 0;
		width: auto;
		background: fade(#000,70%);
		font-size: 90%;
		color: #858585;
		font-size: 14px;
		color: #fff;
		.btn {
			margin-top: 10px;
			margin-bottom: 5px;
			color: #FFF;
			background-color: #7f8c8d;
			border-color: #7f8c8d;
			margin-left: 2px;
			margin-right: 2px;
			padding: 5px 10px;
			&.btn-success {
				background-color: #2ecc71;
				border-color: #2ecc71;
			}
		}
	}
}