/* 
fuente karla
*/
@font-face {
	font-family: 'karla';
	src: url('fonts/karla/karla-Bold.ttf');
}

/*
////////////////////////////////////////////////////
*/



a, a:visited, a:link, a:hover{
	text-decoration:none;
	color:white;
	transition: all 0.3s;
}

ul{
	list-style:none;
}

body{
	padding-top: 92px;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	color: #2F373C;
	background: @grisclaro;
}

h1,h2,h3,h4,h5{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color: white;
}

header {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 200;
	transition: all 0.3s;
	&.affix,
	&.interior{
		background: @grisoscurono;
	}
	ul {
		margin-bottom: 0;
	}
	.submenu {

		position: absolute;
		opacity: 0;
		.translateY(-20px);
		width: 213px;
		background: rgba(41, 41, 38, 1);
		text-align: left;
		transition: all 0.3s;
		pointer-events: none;

		ul {
		
			padding-left: 0;

		}
		li {

			margin: 10px;
		
			a { 
				padding: 20px 10px;
				border-radius: 3px;
				&:hover {
					
					background: rgba(255, 255, 255, 0.28);

				}
			}

		
		}

		&:after {
			
			bottom: 100%;
			left: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-bottom-color: @grisoscurono;
		    border-width: 16px;
		    margin-left: -59px;
		}
	}

	.login {

		position: absolute;
		.translateY(-20px);
		color: white;
		opacity: 0;
		width: 213px;
		background: rgba(41, 41, 38, 1);
		text-align: left;
		transition: all 0.3s;
		pointer-events: none;
		padding: 30px;

		input{
			width: 100%;
			color: @grisoscurono;

			&[type="submit"] {
				margin-top: 15px;
			}
		}

		label{
			margin-top: 15px;
		}


	}

	.active {
		font-weight: bold;
	}

}
/*
 * MENU
 */

nav {
	text-align: right;

	ul {
		
		li {
			display: inline-block;
			margin: 0 7px;

			a {
				padding: 35px 20px 35px;
				display: block;
				

			}

			&.competiciones:hover > .submenu {
				opacity: 1;
				pointer-events: all;
				.translateY(0);

			}

			&.loginopen:hover > .login {
				opacity: 1;
				pointer-events: all;
				.translateY(0);
			}

		}

	}

	& > ul > li:last-child {
		background: @verdellama;
	}

}


footer{
	
	.copyright{
		
	}
}

.tituloseccion {
	
	text-transform: uppercase;
	font-size: 36px;
	
}