@font-face {
	font-family: "iconfont";
	src: url('./fonts/iconfont.eot');
	src: url('./fonts/iconfont.eot?#iefix') format('eot'),
		url('./fonts/iconfont.woff') format('woff'),
		url('./fonts/iconfont.ttf') format('truetype'),
		url('./fonts/iconfont.svg#iconfont') format('svg');
}

.icon-base-pseudo {
	font-family: "iconfont";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

.icon-char(@filename) {
	@arrowri: "\E001";
	@check: "\E002";
	@comentario: "\E003";
	@facebook: "\E004";
	@flechaderecha: "\E005";
	@flechaizquierda: "\E006";
	@footerf: "\E007";
	@footerg: "\E008";
	@footert: "\E009";
	@footery: "\E00A";
	@googleplus: "\E00B";
	@interface: "\E00C";
	@letter: "\E00D";
	@linkein: "\E00E";
	@location: "\E00F";
	@people: "\E010";
	@phone: "\E011";
	@play: "\E012";
	@share: "\E013";
	@sign: "\E014";
	@twitter: "\E015";
	@user: "\E016";
	@youtube: "\E017";
	
	content: @@filename;
}

.icon(@filename, @insert: before) {
	@pseudo-selector: ~":@{insert}";

	&@{pseudo-selector} {
		&:extend(.icon-base-pseudo);
		.icon-char(@filename);
	}
}

.icon-arrowri {
	.icon(arrowri);
}
.icon-check {
	.icon(check);
}
.icon-comentario {
	.icon(comentario);
}
.icon-facebook {
	.icon(facebook);
}
.icon-flechaderecha {
	.icon(flechaderecha);
}
.icon-flechaizquierda {
	.icon(flechaizquierda);
}
.icon-footerf {
	.icon(footerf);
}
.icon-footerg {
	.icon(footerg);
}
.icon-footert {
	.icon(footert);
}
.icon-footery {
	.icon(footery);
}
.icon-googleplus {
	.icon(googleplus);
}
.icon-interface {
	.icon(interface);
}
.icon-letter {
	.icon(letter);
}
.icon-linkein {
	.icon(linkein);
}
.icon-location {
	.icon(location);
}
.icon-people {
	.icon(people);
}
.icon-phone {
	.icon(phone);
}
.icon-play {
	.icon(play);
}
.icon-share {
	.icon(share);
}
.icon-sign {
	.icon(sign);
}
.icon-twitter {
	.icon(twitter);
}
.icon-user {
	.icon(user);
}
.icon-youtube {
	.icon(youtube);
}