// Mixins & Variables
@import "icons";
@import "variables";
@import "lesshat";

// Globales de toda la web
@import "globales";
@import "cookie";

// Secciones
@import "secciones/portada";
@import "secciones/juegos";
@import "secciones/competiciones";


// Responsive
@import "responsive/mobile" screen and (max-width:@screen-xs-max); //Añadir aquí también estilos retina
@import "responsive/tablet-sm" screen and (min-width:@screen-sm) and (max-width:@screen-sm-max);
@import "responsive/tablet-md" screen and (min-width:@screen-md) and (max-width:@screen-md-max);