// Mixins
.render {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


// Variables
@fondo: #fff;
@colorSecundario: #ffa412;
@color: #243848;
@fuente: 'Source Sans Pro', sans-serif;
@fuenteTitulo: 'Source Sans Pro', sans-serif;
@colorTexto: #797979;


// Media queries breakpoints
// Mobile
@screen-xs:                  480px;
@screen-xs-min:              @screen-xs;
@screen-phone:               @screen-xs-min;

// Tablet vertical
@screen-sm:                  768px;
@screen-sm-min:              @screen-sm;
@screen-tablet:              @screen-sm-min;

// Tablet horizontal / Monitores pequeños
// Note: Deprecated @screen-md and @screen-desktop as of v3.0.1
@screen-md:                  992px;
@screen-md-min:              @screen-md;
@screen-desktop:             @screen-md-min;

// Monitores grandes
@screen-lg:                  1200px;
@screen-lg-min:              @screen-lg;
@screen-lg-desktop:          @screen-lg-min;

// So media queries don't overlap when required, provide a maximum
@screen-xs-max:              (@screen-sm-min - 1);
@screen-sm-max:              (@screen-md-min - 1);
@screen-md-max:              (@screen-lg-min - 1);


/*
variables
*/ 
@grisclaro: #2E353A;
@grisoscuro: rgba(41, 41, 38, 0.38);
@grisoscurono: rgba(41, 41, 38, 1);	
@verdellama: #21ca69;
@azulllama: #1a8d7b;
