.filtro {
	
	position: fixed;
	left: 0 ;
	top: 0;
	bottom: 0;
	background: @grisoscurono - #111;
	z-index: 1;
	padding-top: 200px;
	color: white;
	
	input , select {
	
		color: black;
	
	}

	input, label, select {
	
		display: block;
	
	}
	
	label {
	
		margin-top: 20px;
	
	}
	
	input[type='text'],
	input[type='number'],
	input[type='date'],
	select {
		width: 100%;
	}

	input[type='radio']	{
		
		display: inline-block;	

		& + label{
			display: inline-block;	
		}
	
	}
	
	input[type='submit'] {
		margin: auto;	
		margin-top: 40px;	
	}



}

.listado {
	& > div {

	}
}

