.juego {
	position: relative;
	margin-top: 40px;
	height: 300px;
	padding: 10px 40px;
	background-size: cover;
	background-position: center center;
	overflow: hidden;

	.contenido {
		position: relative;
		z-index: 1;
		color: #fff;
		width: 50%;
		h2 {
			margin-bottom: 20px;
		}

		h4 {
			margin-bottom: 30px;
		}
	}

	&:before {
		content: '';
		.absolute-full();

		background: rgba(10,10,10,1);
		background: -moz-linear-gradient(left, rgba(10,10,10,1) 0%, rgba(10,10,10,0.42) 58%, rgba(255,255,255,0) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(10,10,10,1)), color-stop(58%, rgba(10,10,10,0.42)), color-stop(100%, rgba(255,255,255,0)));
		background: -webkit-linear-gradient(left, rgba(10,10,10,1) 0%, rgba(10,10,10,0.42) 58%, rgba(255,255,255,0) 100%);
		background: -o-linear-gradient(left, rgba(10,10,10,1) 0%, rgba(10,10,10,0.42) 58%, rgba(255,255,255,0) 100%);
		background: -ms-linear-gradient(left, rgba(10,10,10,1) 0%, rgba(10,10,10,0.42) 58%, rgba(255,255,255,0) 100%);
		background: linear-gradient(to right, rgba(10,10,10,1) 0%, rgba(10,10,10,0.42) 58%, rgba(255,255,255,0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a0a0a', endColorstr='#ffffff', GradientType=1 );
	} 

	.playvideo {
		
		position: absolute;
		right: -35%;
		bottom: -100%;
		width: 50%;
		height: 100%;
		background: @azulllama;
		transform: rotate(50deg);
		transition: all .7s ease ;

		.icon-play {
			position: absolute;
			.transform( rotate(70deg) translate(217%, 48%));
			height: 55px;
			width: 55px;
			filter: #fff;
		}

		&.active {
    		.transform(rotate(0) translate(-70%, -100%));
    		opacity: 1;
			background: black;


		}

		.video {
			position: absolute;
			width: 100%;
			height: 100%;
			opacity: 0;
			transition: opacity 2s;
			border: 0;
		}

		.icon-play {
			transition: opacity 0.3s;

		}

		&.active .icon-play {
			opacity: 0;
		}
	}

	.botones 
	{
		 position: absolute;
		 bottom: 0;

		 a
		 {
		 	padding: 15px 25px;
		 	display: inline-block;
			 	
		 	&:hover
		 	{	
				padding-top: 20px;
		 	}

			img{
				height: 40px;
				width: 40px;
			}
		 }
	}

}