#portada{
	position: absolute;
    top: 0;
    width: 100%;
	height: 610px;
	background: black;
	overflow:hidden;

	#big-video-wrap{
		color: black;
		position: absolute;
		left: 50%;
		top: 50%;
		.translate(-50%,-50%);
	}

	.contenido{
		text-align: center;
		position:absolute;
		left: 25%;
		top: 50%;
		.translate(-50%,-50%);

		h1 {

			font-size: 44px;
			text-transform: uppercase;
		}
	
		h2 {
			font-size: 22px;
		}
		a {
			font-size: 22px;
			background: @azulllama;
			padding: 22px 40px 22px;
			border-radius: 35px;
			font-weight: bold;
			margin-top: 21px;
			line-height: 100px;
		}
	}

	.fondooscuro{
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.5);
		position:absolute;

	}
}


#ventajas{
	margin-top: 650px;
	color:white;
	text-align: center;
	height: 419px;
	h3{
		color: yellow;
	}
	.imagen{
		background: @grisoscuro;
		border-radius: 50%;
		padding: 30px;
		width: 50%;
		margin:auto;
		img{
			height: 100px;
			width: 100px;

		}
	}


}

#quienessomos{
	height: 449px;
	color: white;
	background: url(../imagenes/soldados.png);
	background-repeat: no-repeat;
	background-color : @azulllama;
	background-position: right;
	.container{
		height: 100%;
		.row
		{
			height: 100%;
			& > div{
				height: 100%;
				
				&:nth-of-type(1){
					background: @azulllama;
				}	
			}

		}
	}
	a{
		background: @verdellama;
		padding: 8px 30px;
		border-radius: 25px;
		font-weight: bold;
		line-height: 6;

	}
	.tutorial  a{
		background: none;
		border-radius: 25px;
		img{
			border-radius: 15px;
			height: 100px;
		}
	}
}

#proximoseventos {
	
	color: white;

	.eventos > div {

		margin-top: 62px;

		h3 {
			text-transform: uppercase;
		}

		.subtitulo{
			color: #2bc0a9;
		}

		.imagen {

		    height: 200px;
		    background-size: cover;
			position: relative;
		}
		.fondofecha {

				position: absolute;
				right: 0;
				top: -18%;
				background-image: url(../media/eventos/fondofecha.png);
				background-size: cover;	
				width: 103px;
				height: 111px;		
			
			.fecha {
				font-weight:bold;
				line-height: 1;
				position: relative;
				padding-top: 34.2%;
				font-size: 26px;
				margin-right: 25%;
				text-align: center;
				text-transform: uppercase;
				
			}
			
		}
		a {
			text-align: center;
			display: block;
			background: @verdellama;
			padding: 20px 0 20px;
			font-size: 32px;
			text-transform: uppercase;
		}	

	}
}

#ultimoscampeonatos{
	height: 383px;
}
